@font-face {
  font-family: 'Trickster-Reg';
  src: url('fonts/Trickster-Reg.ttf') format('truetype');
}

@font-face {
  font-family: 'Moche-Regular';
  src: url('fonts/Moche-Regular.ttf') format('truetype');
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Moche-Regular', sans-serif;
}

a {
  text-decoration: none;
  color: darkgray;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding-left: 50px;
  z-index: 2;
  
  background: white;
  background-size: cover;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container header {
  position: absolute;
  top: 2.5%;
  left: 0;
  width: 100%;
  padding: 0px 50px 0px 50px;
  z-index: 100;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

h1 {
  font-family: 'Trickster-Reg', sans-serif;
  font-size: 4em;
  color: black;
}

h1:hover {
  color: lightgray;
  text-shadow: 2px 2px black;
  transform: translateY(1px);
  transition: transform 300ms;
}

header .main-nav {
  top: 2.5%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 10px 10px 0px 0px;
}

header .main-nav li {
  font-size: 1em;
  color: gray;
  padding-right: 20px;
  flex: 1; 
}

header .main-nav a {
  font-size: 1em;
  color: gray;
}

audio:hover {
 transform: translateY(1px);
  transition: transform 300ms;
} 

.carousel {
  position: relative;
  width: 95%;
  height: 500px;
  margin-top: margin: 0 auto;
}

.carousel-content {
  position: relative;
  overflow: hidden;
  transition: width .4s;
  height: 100%;
  padding-top: 8%;
}

.slide {
  height: 100%;
  background-color: white;
  position: absolute;
  width: 100px;
  z-index: 1;
  transition: left .4s cubic-bezier(.47,.13,.15,.89);
}

.slide:hover {
  transform: translateY(-3.5px);
  transition: transform 250ms, opacity 400ms;
}

.slide img:hover {
  filter: invert(100%);
}

.nav {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  background-color: rgba(150,150,150,.3);
  width: 20px;
  height: 20px;
  z-index: 2;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  outline: none;
  color: white;
  -webkit-user-select: none;
}

.nav-left {
  left: -25px;
}

.nav-right {
  right: -25px;
}

.carousel-arrow-icon-left {
  margin-left: 5px;
  margin-top: 2px;
}

.carousel-arrow-icon-right {
  margin-left: 7px;
  margin-top: 2px;
}

.about-text {
  margin: 40px;
}

@media(max-width: 798px) {
  .container,
  .container header {
    padding: 0px 40px 0px 40px;
  }

  .main-nav {  
    flex-wrap: wrap;
    flex-basis: 100%;
    flex: 1; 
  } 
}
